@font-face {
  font-family: robotoRegular;
  src: url(../fonts/roboto/Roboto-Regular.woff);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a:active,
a:hover {
  outline: 0;
}

a {
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  margin: 0;
  color: rgba(0, 0, 0, .74);
  font-family: robotoRegular;
  background: url(../images/wallhaven-487429.jpg);
  background-color: #EEEEEE;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center;
}

.container {
  margin-top: 56px;
}

.btn,
.btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #2196F3;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn,
.btn-large,
.btn-floating,
.btn-large,
.btn-flat {
  font-size: 1rem;
  outline: 0;
}

.btn,
.btn-large,
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn,
.btn-large,
.btn-floating {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  transition: background-color .2s;
}

.btn i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn:hover,
.btn-large:hover {
  background-color: #2bbbad;
}

.btn-flat:focus,
.btn-flat:hover {
  box-shadow: none;
}

.btn:hover,
.btn-large:hover,
.btn-floating:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

.chip>img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.chip .close {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}

img {
  border: 0;
}

.range-field {
	position: relative
}
input[type=range], input[type=range]+.thumb {
	cursor: pointer
}
input[type=range] {
	position: relative;
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
	margin: 15px 0;
	padding: 0
}
input[type=range]:focus {
	outline: none
}
input[type=range]+.thumb {
	position: absolute;
	top: 10px;
	left: 0;
	border: none;
	height: 0;
	width: 0;
	border-radius: 50%;
	background-color: #2196F3;
	margin-left: 7px;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
input[type=range]+.thumb .value {
	display: block;
	width: 30px;
	text-align: center;
	color: #2196F3;
	font-size: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
input[type=range]+.thumb.active {
	border-radius: 50% 50% 50% 0
}
input[type=range]+.thumb.active .value {
	color: #fff;
	margin-left: -1px;
	margin-top: 8px;
	font-size: 10px
}
input[type=range] {
	-webkit-appearance: none
}
input[type=range]::-webkit-slider-runnable-track {
	height: 3px;
	background: #c2c0c2;
	border: none
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background-color: #2185d0;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	margin: -5px 0 0 0;
	transition: .3s
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc
}
input[type=range] {
	border: none;
}
input[type=range]::-moz-range-track {
	height: 3px;
	background: #ddd;
	border: none
}
input[type=range]::-moz-range-thumb {
	border: none;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background: #2196F3;
	margin-top: -5px
}
input[type=range]:-moz-focusring {
	outline: 1px solid #fff;
	outline-offset: -1px
}
input[type=range]:focus::-moz-range-track {
	background: #ccc
}
input[type=range]::-ms-track {
	height: 3px;
	background: transparent;
	border-color: transparent;
	border-width: 6px 0;
	color: transparent
}
input[type=range]::-ms-fill-lower {
	background: #777
}
input[type=range]::-ms-fill-upper {
	background: #ddd
}
input[type=range]::-ms-thumb {
	border: none;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background: #2196F3;
}
input[type=range]:focus::-ms-fill-lower {
	background: #888;
}
input[type=range]:focus::-ms-fill-upper {
	background: #ccc;
}
/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 14px;
}


/* Hide default HTML checkbox */

.switch input {
  display: none;
}


/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.38);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -3px;
  bottom: -3px;
  background-color: #F1F1F1;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ==========  Select Field ========== */


/* Style Select Field */

select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 8px 0;
  color: rgba(0, 0, 0, .74);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}


/* Remove focus */

select:focus {
  outline: none
}


/* Hide label */

.selectfield label {
  display: none;
}


/* Use custom arrow */

.selectfield select {
  appearance: none
}

.selectfield {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  position: relative;
  &:after {
	position: absolute;
	top: 0.75em;
	right: 0.5em;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: .25em solid transparent;
	border-right: .25em solid transparent;
	border-top: .375em solid rgba(0, 0, 0, .12);
	pointer-events: none;
  }
}

i.right {
  float: right;
  margin-left: 15px;
}

header {
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header .settings {
  margin-left: 8px;
}

header .settings:hover,
header .tools .search:hover,
header .tools .help:hover {
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
}

header .settings i,
header .tools i {
  font-size: 36px;
}

header .tools {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

header .tools .connection {
  color: #4CAF50;
  margin-left: 8px;
}

header .tools .help {
  margin-left: 8px;
}

header .tools .donate {
  margin-left: 8px;
  margin-right: 8px;
}

header .settings,
header .tools .search,
header .tools .connection,
header .tools .help,
header .tools .donate {
  padding: 8px 16px;
}

header .tools .btn i {
  font-size: 1.3rem;
}

main {
  padding: 24px 96px;
}

.card {
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgb(255, 255, 255);
  padding: 24px 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 0px 0px 2px 2px;
  float: left;
  width: 100%;
}

.card .title {
  margin-bottom: 8px;
}

.card .content {
  width: 100%;
}

.error {
  background-color: #D50000;
  color: rgba(255, 255, 255, 0.87);
}

i.error {
  color: #D50000;
  background: transparent;
}

.error .icon,
.error .message {
  float: left;
}

.error .message {
  margin-left: 8px;
  margin-right: 24px;
}

.error .icon i {
  font-size: 48px;
}


.card .dismiss {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  color: rgba(0,0,0,.61);
}
.card .dismiss:hover {
	color: rgba(0,0,0,.87);
}
.error  .dismiss {
	color: rgba(255,255,255,.61);
}
.error  .dismiss:hover {
	color: rgba(255,255,255,.87);
}
.card.search .content input {
  width: 100%;
  font-size: 32px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 0 1px 0 0 #EEEEEE;
}

.card.search .content input:focus {
  border-bottom: 1px solid #03A9F4;
  box-shadow: 0 1px 0 0 #03A9F4;
}

.card .title p {
  font-size: 24px;
  color: rgba(0, 0, 0, .87);
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul:not(.browser-default) li {
  list-style-type: none;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.tabs-content {
  padding: 16px 24px;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tabs .tab a {
  color: rgba(0, 0, 0, .61);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #03A9F4;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #03A9F4;
  will-change: left, right;
}

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.carousel .carousel-item {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.card .settings .setting {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding: 16px 0;
}

.card .setting:last-child {
  border-bottom: none;
}

.card .setting span {
  float: left;
}

.card .footer {
  border-top: 1px solid rgba(0, 0, 0, .12);
  padding: 16px 24px ;
  display: flex;
}

.card .footer .cancel {
  margin-left: auto;
}

.card .footer .save a {
  color: #2196F3;
}

.collection-table {
  position: relative;
}

.container:after,
.card:after,
.card.global-settings .settings .setting:after,
.collection-table:after,
.collection-table-header:after,
.collection-table-items:after,
.collection-table-item:after,
.collection-table-item .item-data:after,
.toolbar:after,
.raid .card .header:after {
  content: "";
  display: table;
  clear: both;
}

.collection-table .collection-table-header {
  color: rgba(0, 0, 0, .61);
  font-weight: 600;
  float: left;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  box-sizing: border-box;
  text-align: center;
}

.collection-table-items {
  float: left;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.collection-table-items .collection-table-item:nth-child(even) {
  background-color: #EEEEEE;
}

.collection-table .header-name,
.collection-table .item-name {
  max-width: 400px;
  min-width: 400px;
}

.collection-table-header,
.collection-table-item {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
}

.collection-table-item {
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.collection-table-item:hover {
  background-color: rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .87);
}

.item-name,
.header-name {
  flex-grow: 1;
}

.collection-table-item:last-child {
  border-bottom: none;
}

.header-id,
.header-join,
.header-time {
  margin-left: 8px;
}

.item-join,
.header-join {
  min-width: 146px;
}

.header-data,
.item-data {
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.item-data {
  line-height: 84px;
}

.item-id {
  width: 90px;
}

.header-id,
.header-time,
.header-join,
.item-id,
.item-time,
.item-join {
  padding-left: 8px;
  margin-left: 8px;
  flex: 1 0 0;
}

.collection-table-header {
  padding: 8px 24px;
}

.header-name,
.header-id,
.header-time,
.header-join,
.item-name,
.item-data,
.item-name img,
.item-name .name,
.item-id,
.item-time,
.item-join,
.chips {
  float: left;
}

.item-name img {
  width: 120px;
}

.item-name .name {
  margin-left: 8px;
  width: 240px;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-name .english {
  color: rgba(0, 0, 0, .87);
  font-weight: 600;
  font-size: 1.2rem;
}

.item-name .japanese {
  color: rgba(0, 0, 0, .61);
  font-size: 0.9rem;
}

.clear {
  float: right;
}

.chips {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  width: 100%;
}


/* If the text has multiple lines, add the following: */

.center label {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.switch {
  margin-left: 24px;
}


.vertical {
	float: left;
	width: 100%;
}
.vertical .card {
	padding: 0;
	margin: 0;
}
.vertical .card .settings-toggle {
	position: absolute;
	cursor: pointer;
	top: 40px;
	right: 8px;
}
.raid .card .header {
	border-bottom: 1px solid rgba(0,0,0,.12);
	height: 75px;
	overflow: hidden;
}
.raid .card .header .image {
    width: 25%;
    max-width: 120px;
    float: left;
    overflow: auto;
    position: relative;
}
.raid .card .header .image .border {
    	height: 75px;
    	width: 25%;
   	position: relative;
}
.raid .card .header img {
    height: 100%;
    max-height: 75px;
    position: absolute;
}
.raid .card .header .name {
    	float: left;
    	width: 75%;
    	box-sizing: border-box;
    	padding: 16px 40px 0 8px;
}
.raid .card .header .name .english{
	font-weight: 600;
	font-size: 1.1rem;
}
.raid .card .header .name .japanese {
	font-size: 0.9rem;
	color: rgba(0,0,0,.61);
}

.vertical .raid .data-table .head {
	font-weight: 600;
	border-bottom: 1px solid rgba(0,0,0,.12);
	display: flex;
	width: 100%;
	text-align: center;
	padding: 8px 24px;
	font-size: 0.9rem;
}
.vertical .raid .data-table .list {
	height: 225px;
	overflow-y: scroll;
	font-size: 0.8rem;
}
.vertical .raid .data-table .list .data{
	display: flex;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.12);
	padding: 8px 8px 8px 24px;
	height: 45px;
}
.vertical .raid .data-table .list .data:nth-child(even) {
	background-color: #EEEEEE;
}
.data-table .head .id,
.data-table .list .id {
	flex-basis: 25%;
}
.data-table .head .time,
.data-table .list .time {
    	flex-basis: 35%;
}
.data-table .head .join,
.data-table .list .join {
	flex-basis: 40%;
}
.data-table .list .id,
.data-table .list .time,
.data-table .list .join {
	line-height: 28px;
}
.data-table .list .join {
	color: #2196F3;
	cursor: pointer;
}
.raid .raid-settings {
	background-color: #EEEEEE;
	border-bottom: rgba(0,0,0,.12);
	display: none;
}


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 25%;
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 200px; }

.grid-item:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}